<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>Home Page</title></head>
<body>
<h1>Broker Page</h1>

<ul>
    <li>
        <a href="/freedomExcel">Загрузка excel</a>
    </li>
    <li>
        <a href="/rateShow">Курсы валют</a>
    </li>
    <li>
        <a href="/rateUpload">Загрузка курсов валют</a>
    </li>
    <li>
        <a href="/link">Заменить ссылку на youtube</a>
    </li>
</ul>

<p>Coming soon <span>at telegram <a href="https://t.me/@BrokerTaxCalculatorBot" target="_blank">@BrokerTaxCalculatorBot</a> </span></p>
</body>
</html>