<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>File Upload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li>
        <a href="/">Главная</a>
    </li>
    <li>
        <a href="/rateShow">Курсы валют</a>
    </li>
</ul>
<form method="POST" action="/api/rates/upload" enctype="multipart/form-data" >
    <input type="file" name="file" id="file" /> <br/><br/><br/>
    <input type="submit" value="Загрузить обменные крусы" name="upload" />
</form>
</body>
</html>