<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Rate List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table, th, td {
            border: 1px solid black;
        }

        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a href="/freedomExcel">Загрузка excel</a>
    </li>
    <li>
        <a href="/rateShow">Курсы валют</a>
    </li>
    <li>
        <a href="/rateUpload">Загрузка курсов валют</a>
    </li>
</ul>

<form method="GET" action="rateShow">
    <input type="date" name="dateStr" value="2020-01-01"/>
    <input type="submit" value="Поиск" name="submit" />
</form>

<b>Курсы валют</b>
<table>
    <thead>
    <tr>
        <th> Date</th>
        <th> USD</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${rates.empty}">
        <td colspan="2"> No rates Available</td>
    </tr>
    <tr th:each="rate : ${rates}">
        <td><span th:text="${rate.date}"/></td>
        <td><span th:text="${rate.rate}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>