<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Rate List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table, th, td {
            border: 1px solid black;
        }

        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a href="/home">Главная</a>
    </li>
    <li>
        <a href="/rateUpload">Загрузка курсов валют</a>
    </li>
    <li>
        <a href="/api/rates/reload">Закешировать курсы валют</a>
    </li>
</ul>

<form method="GET" action="/rateShow">
    Год:
    <select name="year">
        <option>-</option>
        <option>2022</option>
        <option>2021</option>
        <option>2020</option>
        <option>2019</option>
    </select>
    <input type="submit" value="Показать" name="submit" />
</form>
<br/>
<form method="GET" action="/rateShow">
    <input type="date" name="dateStr"/>
    <input type="submit" value="Поиск" name="submit" />
</form>
<br/>
<b>Курсы валют</b>
<table>
    <thead>
    <tr>
        <th> Date</th>
        <th> USD</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${rates.empty}">
        <td colspan="2"> No rates Available</td>
    </tr>
    <tr th:each="rate : ${rates}">
        <td><span th:text="${rate.date}"/></td>
        <td><span th:text="${rate.rate}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>