<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Rate List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        table, th, td {
            border: 1px solid black;
        }

        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a href="/">Главная</a>
    </li>
</ul>

<b>Отправка сообщения в телеграмм бот</b>

<form method="POST" action="/api/setting/send" >
    <textarea  name="txt" id="txt" rows="4" cols="50" ></textarea> <br/><br/><br/>
    <input type="submit" value="Отправить" name="submit" />
</form>
</body>
</html>